<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Hello Thymeleaf</title>
</head>
<body>
    <div th:unless="${click}">
        <p th:text="${message}">please wait...</p>
            <form method="post" action="/">
                <input type="radio" name="animal" value="dog"/>いぬ
                <input type="radio" name="animal" value="cat"/>ねこ
                <input type="radio" name="animal" value="rabbit"/>うさぎ
                <input type="submit" value="Click" />
            </form>
    </div>
    <div th:if="${click}" th:switch="${chosenAnimal}">
            <p th:case ="1">わん</p>
            <p th:case ="2">にゃん</p>
            <p th:case ="3">...?</p>
    </div>
</body>
</html>